<div id="slider">
  <div class="slide">
    <!-- <div class="effect"> -->
      <img src="../img/slider/1.jpg" alt="slider image by Roman Sotnikov"/>
    <!-- </div> -->
  </div>
</div> <!-- /slider -->
<div class="bullets">
  <ul>
  <li><a title="Show slide" href="javascript:void(0);" data-image="1" class="active-bullet bullet"></a></li>
  <li><a title="Show slide" href="javascript:void(0);" data-image="2" class="bullet"></a></li>
  <li><a title="Show slide" href="javascript:void(0);" data-image="3" class="bullet"></a></li>
  <li><a title="Show slide" href="javascript:void(0);" data-image="4" class="bullet"></a></li>
  <li><a title="Show slide" href="javascript:void(0);" data-image="5" class="bullet"></a></li>
</ul> 
</div>
<div class="full-width">
  <div class="one-third">
    <h3>Latest news</h3>
    <h4>
      News heading
    </h4>
    <p class="news-date">
      December,17
    </p>
    <p class="news-body">
      Bla-bla-bla
    </p>
  </div>
  <div class="two-thirds">
{{{main}}}
  </div>
</div>
