<div class="content-element">
  <div class="effect">
    <img class="portrait" src="../img/thomas-leuthard.png" height="300"/>
  </div>
  
  <div class="bio">
    <h2 class="shadow-light">Thomas Leuthard</h2>
    {{{thomas}}}
  </div>
  <ul>
  	<li><a href=""><img class="social" src="../img/500.png"></a></li>
  	<li><a href=""><img class="social" src="../img/flickr.png"></a></li>
  	<li><a href=""><img class="social" src="../img/facebook.png"></a></li>
  	<li><a href=""><img class="social" src="../img/twitter.png"></a></li>
  	
  </ul>
</div>
<div class="float-fix"></div>

<hr class="photo-divider"/>

<!-- Björn Bechstein -->
<div class="content-element">
  <div class="effect">
    <img class="portrait" src="../img/bjorn-bechstein.png" height="300"/>
  </div>
  
  <div class="bio">
    <h2 class="shadow-light">Björn Bechstein</h2>
    	{{{bjorn}}}
  </div>
  <ul>
  	<li><a href=""><img class="social" src="../img/500.png"></a></li>
  	<li><a href=""><img class="social" src="../img/flickr.png"></a></li>
  	<li><a href=""><img class="social" src="../img/facebook.png"></a></li>
  	<li><a href=""><img class="social" src="../img/twitter.png"></a></li>
  	
  </ul>
</div>
<div class="float-fix"></div>

<hr class="photo-divider"/>

<!-- Fernando Coelho -->
<div class="content-element">
  <div class="effect">
    <img class="portrait" src="../img/fernando-coelho.png" height="300"/>
  </div>
  
  <div class="bio">
    <h2 class="shadow-light">Fernando Coelho</h2>
    {{{fernando}}}
  </div>
  <ul>
  	<li><a href=""><img class="social" src="../img/500.png"></a></li>
  	<li><a href=""><img class="social" src="../img/flickr.png"></a></li>
  	<li><a href=""><img class="social" src="../img/facebook.png"></a></li>
  	<li><a href=""><img class="social" src="../img/twitter.png"></a></li>
  	
  </ul>
</div>
<div class="float-fix"></div>

<hr class="photo-divider"/>

	<!-- Fokko Muller -->
<div class="content-element">
  <div class="effect">
    <img class="portrait" src="../img/fokko-muller.png" height="300"/>
  </div>
  
  <div class="bio">
    <h2 class="shadow-light">Fokko Muller</h2>
  	  {{{fokko}}}
  </div>
  <ul>
  	<li><a href=""><img class="social" src="../img/500.png"></a></li>
  	<li><a href=""><img class="social" src="../img/flickr.png"></a></li>
  	<li><a href=""><img class="social" src="../img/facebook.png"></a></li>
  	<li><a href=""><img class="social" src="../img/twitter.png"></a></li>

  </ul>
</div>
<div class="float-fix"></div>

<hr class="photo-divider"/>

<!-- Martin Hricko -->
<div class="content-element">
  <div class="effect">
    <img class="portrait" src="../img/martin-hricko.png" height="300"/>
  </div>
  
  <div class="bio">
    <h2 class="shadow-light">Martin Hricko</h2>
    {{{martin}}}
  </div>
  <ul>
  	<li><a href=""><img class="social" src="../img/500.png"></a></li>
  	<li><a href=""><img class="social" src="../img/flickr.png"></a></li>
  	<li><a href=""><img class="social" src="../img/facebook.png"></a></li>
  	<li><a href=""><img class="social" src="../img/twitter.png"></a></li>
  </ul>
</div>
<div class="float-fix"></div>

