<h1 class="main-title">{{p_header}}</h1>
<div class="content-element">
  <div class="effect">
    <img alt="Thomas Leuthard" class="portrait" src="../img/thomas-leuthard.png" height="300"/>
  </div>
  
  <div class="bio">
    <h2 class="shadow-light">{{thomas_name}}</h2>
    {{{thomas}}}
  </div>
  <ul>
  	<li><a href="http://500px.com/ThomasLeuthard" title="Thomas Leuthard on 500px"><img alt="500px icon" class="social" src="../img/500.png"></a></li>
  	<li><a href="http://www.flickr.com/photos/thomasleuthard/" title="Thomas Leuthard on flickr"><img alt="flickr icon"class="social" src="../img/flickr.png"></a></li>
  	<li><a href="http://www.facebook.com/85mmStreetPhotography" title="Thomas Leuthard on Facebook"><img alt="Facebook icon"class="social" src="../img/facebook.png"></a></li>
  	<li><a href="http://www.twitter.com/ThomasLeuthard" title="Thomas Leuthard on twitter"><img alt="Twitter icon" class="social" src="../img/twitter.png"></a></li>
  	
  </ul>
</div>
<div class="float-fix"></div>

<hr class="photo-divider"/>

<!-- Björn Bechstein -->
<div class="content-element">
  <div class="effect">
    <img alt="Björn Bechstein" class="portrait" src="../img/bjorn-bechstein.png" height="300"/>
  </div>
  
  <div class="bio">
    <h2 class="shadow-light">{{bjorn_name}}</h2>
    	{{{bjorn}}}
  </div>
  <ul>
  	<li><a href="http://500px.com/bechstein"  title="Björn Bechstein on 500px"><img alt="500px icon" class="social" src="../img/500.png"></a></li>
  	<li><a href="http://www.flickr.com/photos/bechstein" title="Björn Bechstein on Flickr"><img alt="Flickr icon" class="social" src="../img/flickr.png"></a></li>
  	<li><a href="https://facebook.com/bjoern.bechstein" title="Björn Bechstein on Facebook"><img alt="Facebook icon" class="social" src="../img/facebook.png"></a></li>
  	<!-- <li><a href=""><img alt="Twitter icon" class="social" src="../img/twitter.png"></a></li> -->
  	
  </ul>
</div>
<div class="float-fix"></div>

<hr class="photo-divider"/>

<!-- Fernando Coelho -->
<div class="content-element">
  <div class="effect">
    <img alt="Fernando Coelho" class="portrait" src="../img/fernando-coelho.png" height="300"/>
  </div>
  
  <div class="bio">
    <h2 class="shadow-light">{{fernando_name}}</h2>
    {{{fernando}}}
  </div>
  <ul>
  	<li><a href="http://500px.com/FernandoPC" title="Fernando Coelho on 500px"><img alt="500px icon" class="social" src="../img/500.png"></a></li>
  	<li><a href="http://www.flickr.com/photos/Fernando_PC" title="Fernando Coelho on Flickr"><img alt="Flickr icon" class="social" src="../img/flickr.png"></a></li>
  	<li><a href="http://facebook.com/profile.php?id=1153609847" title="Fernando Coelho on Facebook"><img alt="Facebook icon" class="social" src="../img/facebook.png"></a></li>
  	<!-- <li><a href=""><img alt="Twitter icon" class="social" src="../img/twitter.png"></a></li> -->
  	
  </ul>
</div>
<div class="float-fix"></div>

<hr class="photo-divider"/>

	<!-- Fokko Muller -->
<div class="content-element">
  <div class="effect">
    <img alt="Fokko Muller" class="portrait" src="../img/fokko-muller.png" height="300"/>
  </div>
  
  <div class="bio">
    <h2 class="shadow-light">{{fokko_name}}</h2>
  	  {{{fokko}}}
  </div>
  <ul>
  	<li><a href="http://500px.com/fomu" title="Fokko Muller on 500px"><img alt="500px icon" class="social" src="../img/500.png"></a></li>
  	<li><a href="http://flickr.com/photos/fokkomuller" title="Fokko Muller on Flickr"><img alt="Flickr icon" class="social" src="../img/flickr.png"></a></li>
  	<li><a href="http://facebook.com/profile.php?id=100000400802765" title="Fokko Muller on Facebook"><img alt="Facebook icon" class="social" src="../img/facebook.png"></a></li>
  	<li><a href="http://twitter.com/fomu" title="Fokko Muller on Twitter"><img alt="Twitter icon" class="social" src="../img/twitter.png"></a></li>

  </ul>
</div>
<div class="float-fix"></div>

<hr class="photo-divider"/>

<!-- Martin Hricko -->
<div class="content-element">
  <div class="effect">
    <img alt="Martin Hricko" class="portrait" src="../img/martin-hricko.png" height="300"/>
  </div>
  
  <div class="bio">
    <h2 class="shadow-light">{{martin_name}}</h2>
    {{{martin}}}
  </div>
  <ul>
  	<li><a href="http://500px.com/MartinHricko" title="Martin Hricko on 500px"><img alt="500px icon" class="social" src="../img/500.png"></a></li>
  	<li><a href="http://flickr.com/photos/martinhricko" title="Martin Hricko on Flickr"><img alt="Flickr icon" class="social" src="../img/flickr.png"></a></li>
  	<li><a href="http://facebook.com/profile.php?id=617529161" title="Martin Hricko on Facebook"><img alt="Facebook icon" class="social" src="../img/facebook.png"></a></li>
  	<!-- <li><a href=""><img alt="Twitter icon" class="social" src="../img/twitter.png"></a></li> -->
  </ul>
</div>

<hr class="photo-divider"/>

<!-- Jason Clark -->
<div class="content-element">
  <div class="effect">
    <img alt="Jason Clark" class="portrait" src="../img/jason-clark.png" width="300"/>
  </div>
  
  <div class="bio">
    <h2 class="shadow-light">{{jason_name}}</h2>
    {{{jason}}}
  </div>
  <ul>
    <li><a href="http://500px.com/waxinandmilkin" title="Jason Clark on 500px"><img alt="500px icon" class="social" src="../img/500.png"></a></li>
    <li><a href="http://flickr.com/photos/waxnmilk" title="Jason Clark on Flickr"><img alt="Flickr icon" class="social" src="../img/flickr.png"></a></li>
    <li><a href="http://www.facebook.com/jjc33" title="Jason Clark on Facebook"><img alt="Facebook icon" class="social" src="../img/facebook.png"></a></li>
    <li><a href="http://twitter.com/cryptical33" title="Jason Clark on Twitter"><img alt="Twitter icon" class="social" src="../img/twitter.png"></a></li>
  </ul>
</div>
<div class="float-fix"></div>

